h1 {
    text-align: center;
}

.plant-form-container {
    text-align: center;
}

#veggie-container {
    height: 500px;
    width: 1350px;
    margin: auto;
    border: solid;
}

#flower-container {
    height: 500px;
    width: 1350px;
    margin: auto;
    border: solid;
}

#herb-container {
    height: 525px;
    width: 1350px;
    margin: auto;
    border: solid;
}

#plant-card {
    text-align: center;
    height: 250px;
    width: 300px;
    border: solid;
}

#plant-card h4 {
    margin: 0;
}

#plant-card p {
    font-size: small;
    margin: 0;
}

#plant-card img {
    width: 200px;
    height: 150px;
}