h1 {
    text-align: center;
    color: green;
}

.plant-form-container {
    text-align: center;
}

#veggie-container {
    float: left;
    height: 1350px;
    width: 350px;
    /* margin: auto; */
    border: solid;
}

#flower-container {
    height: 1350px;
    width: 350px;
    margin: auto;
    border: solid;
}

#herb-container {
    float: right;
    height: 1350px;
    width: 350px;
    margin: auto;
    border: solid;
}

#plant-card {
    text-align: center;
    height: 250px;
    width: 300px;
    border: solid;
    margin: auto;
}

#plant-card h4 {
    margin: 0;
}

#plant-card p {
    font-size: small;
    margin: 0;
}

#plant-card img {
    width: 200px;
    height: 150px;
}

#plant-description {
    width: 200px;
    height: 75px;
}

#veggie-container-header {
    font-weight: bold;
    font-size: 30px;
    padding-left: 85px;
}

#flower-container-header {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#herb-container-header {
    font-weight: bold;
    font-size: 30px;
    text-align: right;
    padding-right: 85px;
}

